/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE: WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: #000; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  font-size: 13px; }
  table th, table td {
    padding: 10px 10px 9px;
    line-height: 13.5px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd; }
  table th {
    padding-top: 9px;
    font-weight: bold;
    border-bottom-width: 2px; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #666666;
  text-rendering: optimizeLegibility;
  background-color: #f1f1f1; }

h1 {
  color: #000;
  font-size: 54px;
  line-height: 54px;
  margin: -18px -18px 18px;
  background-color: #f1f1f1;
  font-weight: bold; }
  h1 span {
    font-weight: normal; }

.spiel {
  font-weight: bold;
  font-size: 18px;
  padding: 18px;
  text-align: center; }

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 18px; }

h3 {
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  margin-bottom: 18px; }

p {
  margin-bottom: 18px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: disc; }
  ul li {
    margin-left: 18px; }

footer, section {
  width: 600px;
  padding: 18px;
  margin: 18px auto;
  background-color: #fff; }

.btn {
  display: inline-block;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 115, 100, 0.4), 0 3px 3px #666666;
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(255, 115, 100, 0.4), 0 3px 3px #666666;
  -ms-box-shadow: inset 0px 0px 0px 0px rgba(255, 115, 100, 0.4), 0 3px 3px #666666;
  -o-box-shadow: inset 0px 0px 0px 0px rgba(255, 115, 100, 0.4), 0 3px 3px #666666;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 115, 100, 0.4), 0 3px 3px #666666;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 11px 13px;
  text-align: center;
  background-color: #2dd55c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2dd55c 0%), to(#068045 100%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2dd55c 0%, #068045 100%);
  background-image: -moz-linear-gradient(top, #2dd55c 0%, #068045 100%);
  background-image: -ms-linear-gradient(top, #2dd55c 0%, #068045 100%);
  background-image: -o-linear-gradient(top, #2dd55c 0%, #068045 100%);
  background-image: linear-gradient(top, #2dd55c 0%, #068045 100%); }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d43c28 0%), to(#ad3224 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }
  .btn:hover {
    background-color: #5ee584;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5ee584 0%), to(#3d8c53 100%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #5ee584 0%, #3d8c53 100%);
    background-image: -moz-linear-gradient(top, #5ee584 0%, #3d8c53 100%);
    background-image: -ms-linear-gradient(top, #5ee584 0%, #3d8c53 100%);
    background-image: -o-linear-gradient(top, #5ee584 0%, #3d8c53 100%);
    background-image: linear-gradient(top, #5ee584 0%, #3d8c53 100%); }
